body
{
font-family: helvetica, arial, sans-serif;

}

.dropdown 
{
position: absolute; 
float: none;
background-color: #333;


}

.dropdown li
{
adisplay: list-item;
color: silver;
list-style: circle; 

}

.dropdown li a 
{
	
}

#drop_gallery
{
	margin-left: 200px;
}