<h3>About</h3>
  <div class="about">
    <div class="info">
      <p class="text">
        Born in Warsaw. <br />
        Based in Dublin. <br />
        Available worldwide. <br />
      </p>
      <p>
        Started as hard-core wordpress/php developer. <br />
        Currently devoted to React.js and modern javaScript. <br />
        Always open to new ideas. 
      </p>
      <div class="line"></div>
      <p class="quote">
        <em>“A mind is like a parachute. It doesn't work if it is not open.”</em> <br />
          - Frank Zappa 
      </p>
    </div>
    <img src="https://gabrielgarus.s3-eu-west-1.amazonaws.com/img/gabriel-in-snow.jpg" loading="lazy" alt="gabriel garus" title="gabriel garus" />
  </div>
  