<h3>Contact:</h3>
<div id="myEmail" class="contact-email">
  <a href="mailto:gabriel.garus@protonmail.com" class="email-link"><div class="envelope"></div></a>
  <p itemprop="email" class="email-text">gabriel.garus@protonmail.com</p>
  <button class="email-copy" title="copy to clipboard">
    <span class="mobile-only">copy</span>
    <span class="tablet-only">copy email ( ctrl+c )</span>
    <span class="desktop-only">copy email to clipboard ( ctrl+c )</span>
  </button>
  <div class="email-copy tick">V</div>
</div>