<!-- Begin Mailchimp Signup Form -->
{% assign chimpUrl = "https://github.us9.list-manage.com/subscribe/post" %}
{% assign chimpUid = "?u=8d58c74b8248f58e8c28e20ce" %}
{% assign chimpId = "&amp;id=0b819618eb" %}
{% assign formUrl = chimpUrl | append: chimpUid | append: chimpId %}

<div class="contact-form">
  <form 
    action="{{ formUrl }}"
    method="post" 
    id="contactForm" 
    name="mc-embedded-subscribe-form" 
    target="POPUPW"
    onsubmit="POPUPW = window.open('about:blank','POPUPW',
   'width=600,height=400');"
    novalidate
  >
  <div class="form-field">
    <label for="mce-EMAIL">Email Address</label>
    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
  </div>
  <div class="form-field">
    <label for="mce-MESSAGE">Message </label>
    <textarea value="" name="MESSAGE" class="" id="mce-MESSAGE"></textarea>
  </div>
  <div style="position: absolute; left: -5000px;" aria-hidden="true">
    <input type="text" name="b_8d58c74b8248f58e8c28e20ce_0b819618eb" tabindex="-1" value="">
  </div>
  <div class="form-submit">
    <input type="submit" value="Send" name="subscribe" id="mc-embedded-subscribe" class="button">
  </div>
  
  </form>
</div>
