<ul class="expertise other">
  <li>
    {% capture itemInfo %}
    <ul>
      <li>git (git-flow) / gitHub</li>
      <li>gitLab</li>
    </ul>
    {% endcapture %}
    {% include expertise.html text="Version control" info=itemInfo %}
  </li>
  <li>
    {% capture itemInfo %}
    <ul>
      <li>CircleCi</li>
      <li>gitLab pages pipeline</li>
      <li>gitHub pages pipeline</li>
      <li>AWS CodeDeploy</li>
    </ul>
    {% endcapture %}
    {% include expertise.html text="CI/CD pipelines" info=itemInfo %}
  </li>
  <li>
    {% capture itemInfo %}
    <ul>
      <li>optimizing react components for best performance</li>
      <li>optimizing page performance</li>
      <li>SEO best practices</li>
    </ul>
    {% endcapture %}
    {% include expertise.html text="Optimisations" info=itemInfo lastBall="true" %}
  </li>
</ul>
{% assign itemInfo = null %}
