{% capture footer %}
<footer id="theFooter" class="footer">
  <div class="content">
      <div class="ball"></div>
      <h3><em>You can also find me on:</em></h3>
      <nav class="social primary">
        <a href="https://ie.linkedin.com/in/gabriel-garus-8891a333" target="_blank" class="linkedin">Linkedin</a>
        <a href="https://github.com/Ryshard" target="_blank" class="github">GitHub</a>
      </nav>
      <br />
      <nav class="social primary">
        <a href="https://twitter.com/Azaqi" target="_blank" class="twitter">Twitter</a>
        <a href="https://www.facebook.com/gabriel.garus" target="_blank" class="facebook">FaceBook</a>
        <a href="https://www.strava.com/athletes/5574105" target="_blank" class="strava">Strava</a>
        <a href="https://setiathome.berkeley.edu/show_user.php?userid=8646556" target="_blank" class="wow">seti@home</a>
        <a href="https://open.spotify.com/user/gabriel.garus" target="_blank" class="spotify">Spotify</a>
      </nav>
  </div>
</footer>
<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "Person",
    "name": "Gabriel Garus",
    "gender": "Male",
    "description": "Started as hard-core wordpress/php developer.
    Currently devoted to React.js and modern javaScript.
    Always open to new ideas.",
    "alternateName": "Gabriel Garus",
    "url": "https://ryshard.github.io/",
    "image": "https://ryshard.github.io/img/gabriel-garus.jpg",
    "email": "gabriel.garus@protonmail.com",
    "birthPlace" : {
      "@type": "Place",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Warsaw",
          "addressCountry": "Poland"
      }
    },
    "sameAs": [
      "https://www.linkedin.com/in/gabrielgarus/",
      "https://ryshard.github.io/",
      "https://www.facebook.com/gabriel.garus",
      "https://twitter.com/azaqi",
      "https://www.youtube.com/channel/UCm2YfoT_-jmxYLR4VplWFZQ",
      "https://github.com/Ryshard",
      "https://open.spotify.com/user/gabriel.garus"
    ],
    "jobTitle": "Web / UI developer",
    "nationality": "Poland",
    "worksFor": {
      "@type": "Organization",
      "name": "Future Finance"
    }  
  }
  </script>
{% endcapture %}
{{ footer | normalize_whitespace }}