.about {
  color: #666;
  text-align: center;
  margin-bottom: 48px;

  .text {
    font-size: 24px;
    padding-left: 12px;
  }

  p {
    text-align: left;
    line-height: 1.5;
    font-size: 14px;
  }

  img {
    width: 80%;
    margin: 0 auto;
    height: auto;
    border-radius: 6px;
    margin-bottom: 40px;
  }

  .quotation {
    max-width: 90%;
    border-top: solid 1px #dedede;
    margin: 0 auto;
  }

  .quote {
    font-size: 12px;
    text-align: right;
    opacity: 0.7;
    padding-right: 5px;
  }

  .info {
    margin-bottom: 52px;
  }
}

.aboutMain {
  display: block;

  @include mq(400px) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .info {
      flex-basis: 60%;
    }
    img {
      flex-basis: 30%;
      width: 30%;
    }
  }
}
