

.cta-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  @include mq_small(340px) {
    a {
      margin-bottom: $space-m;
    }
  }
}

.linkedin-link {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  overflow: hidden;
}

.svg.linkedin {
  width: 40px;
  height: 40px;
  fill: #666;
  &:hover {
    fill: lighten(#666, 10%);
  }
}
.cv-link {
  height: 40px;
  color: $bg-color;
  background-color: #666;
  border-radius: 5px;
  padding: 0 15px;
  line-height: 40px;
  text-decoration: none;
  &:hover {
    background-color: lighten(#666, 10%);
  }
}

.gh-link {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 $space-s;
  & svg {
    fill: #666;
    &:hover {
      fill: lighten(#666, 10%);
    }
  }
}