<div class="content">
  <h3>About</h3>
  <div class="about">
    <div class="info">
      <p class="text">
        Born in Warsaw. <br />
        Based in Dublin. <br />
        Available worldwide. <br />
      </p>
      <p>
        Started as hard-core wordpress/php developer. <br />
        Currently devoted to React.js and modern javaScript. <br />
        Always open to new ideas. 
      </p>
      <div class="line"></div>
      <p class="quote">
        <em>“A mind is like a parachute. It doesn't work if it is not open.”</em> <br />
          - Frank Zappa 
      </p>
    </div>
    <img src="https://gabrielgarus.s3-eu-west-1.amazonaws.com/img/gabriel-in-snow.jpg" loading="lazy" alt="gabriel garus" title="gabriel garus" />
  </div>
  

  <h2><em>Expertise:</em></h2>
  <br />
  <%- partial('partials/expertise-main') %>

  <br /><div class="divider"></div><br />

  <h3><em>Other:</em></h3>
  <%- partial('partials/expertise-other') %>
    
  <br /><div class="divider"></div><br />

  <div class="cta-links">
    <a class="linkedin-link" href="https://www.linkedin.com/in/gabriel-garus-8891a333" target="_blank">
      <%- partial('svg/linkedin') %>
    </a>
    <a class="gh-link" href="https://github.com/Ryshard" target="_blank">
      <%- partial('svg/githublogo') %>
    </a>
    <a class="cv-link" href="https://gabrielgarus.s3-eu-west-1.amazonaws.com/docs/cv/gabriel-garus-2020-v71.pdf" target="_blank">
      Download my cv (pdf)
    </a>
  </div>
  

  <br /><div class="divider"></div><br />

  <h3>Contact:</h3>
  <div id="myEmail" class="contact-email">
    <a href="mailto:gabriel.garus@protonmail.com" class="email-link"><div class="envelope"></div></a>
    <p itemprop="email" class="email-text">gabriel.garus@protonmail.com</p>
    <button class="email-copy" title="copy to clipboard">
      <span class="mobile-only">copy</span>
      <span class="tablet-only">copy email ( ctrl+c )</span>
      <span class="desktop-only">copy email to clipboard ( ctrl+c )</span>
    </button>
  </div>

  <br /><div class="divider"></div><br />
  
  <!-- {% include about.html %} -->
  
</div>